.main {
    border-radius: 5px;
    padding: 1rem;
    background-color: #ebebeb;
    border: 1px solid #bdbdbd;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

footer a {
    color: #d5d5d5;
}   

.table td, th{
    border: black solid 1px !important;
    text-align: center;
}